.login-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-form{   

  display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 80px;
    text-align: center;
    gap: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);     
    background-color: rgb(237, 139, 139);
    
}

.login-form p:nth-of-type(1){
    color: white;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 25px;
}

.login-form button{
    padding: 20px;
    cursor: pointer;
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  background-color: green;
  width: 100%;
}

.login-section input {
  width: 100%; /* Make input take the full width of the parent */
  padding: 12px; /* Adjust padding for a comfortable height */
  border: none;
  border-bottom: 2px solid #3498db;
  outline: none;
  font-size: 1rem;
  box-sizing: border-box; /* Ensure padding doesn't exceed the parent width */
}
